In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import re

text = """COM-101   COMPUTERS
COM-111   DATABASE
COM-211   ALGORITHM
MAT-103   STATISTICS learning
MAT-102   STATISTICS"""
print(text)

COM-101   COMPUTERS
COM-111   DATABASE
COM-211   ALGORITHM
MAT-103   STATISTICS learning
MAT-102   STATISTICS

In [4]:
#re.findall(".",text)
re.findall("COM",text)
re.findall("^COM",text)
re.findall("STATISTICS$",text)
re.findall("101",text)
re.findall('10[123]',text)
re.findall('10[^12]',text)

['COM', 'COM', 'COM', 'COM']

['COM']

['STATISTICS']

['101']

['101', '103', '102']

['103']

In [5]:
re.findall('COM-1*',text)
re.findall('COM-1+',text)
re.findall('COM-1?',text)

['COM-1', 'COM-111', 'COM-']

['COM-1', 'COM-111']

['COM-1', 'COM-1', 'COM-']

In [6]:
re.findall('1{2}',text)
re.findall('1{2,}',text)
re.findall('1{3}',text)

['11', '11']

['111', '11']

['111']

In [7]:
re.findall('[0-9]+',text)
re.findall('[a-z]+',text)
re.findall('[A-Z]+',text)
#re.findall('[a-zA-Z0-9]+',text)

['101', '111', '211', '103', '102']

['learning']

['COM',
 'COMPUTERS',
 'COM',
 'DATABASE',
 'COM',
 'ALGORITHM',
 'MAT',
 'STATISTICS',
 'MAT',
 'STATISTICS']

In [8]:
re.findall('[^0-9]+',text)
re.findall('101|102|103',text)

['COM-',
 '   COMPUTERS\nCOM-',
 '   DATABASE\nCOM-',
 '   ALGORITHM\nMAT-',
 '   STATISTICS learning\nMAT-',
 '   STATISTICS']

['101', '103', '102']

In [9]:
re.findall('\w+',text) #word character
#re.findall('[a-zA-Z0-9]+',text)
re.findall('\W+',text)#non-word character
re.findall('\w\W+',text)

['COM',
 '101',
 'COMPUTERS',
 'COM',
 '111',
 'DATABASE',
 'COM',
 '211',
 'ALGORITHM',
 'MAT',
 '103',
 'STATISTICS',
 'learning',
 'MAT',
 '102',
 'STATISTICS']

['-',
 '   ',
 '\n',
 '-',
 '   ',
 '\n',
 '-',
 '   ',
 '\n',
 '-',
 '   ',
 ' ',
 '\n',
 '-',
 '   ']

['M-',
 '1   ',
 'S\n',
 'M-',
 '1   ',
 'E\n',
 'M-',
 '1   ',
 'M\n',
 'T-',
 '3   ',
 'S ',
 'g\n',
 'T-',
 '2   ']

In [10]:
text="The cat catches a rat"

match= re.search(r'.*cat',text)
if match:
    print ("find cat!")
    print (match.group())
else:
    print ("not found!")
# greedy match

find cat!
The cat cat

In [17]:
# findall function
match=re.findall(r'cat',text)
print(match)
# split function
match=re.split(r'\W+',text)
print(match)

['cat', 'cat']
['The', 'cat', 'catches', 'a', 'rat']

In [18]:
# sub function
match=re.sub(r'cat', 'CAT', text)
print(match)

The CAT CATches a rat

In [25]:
# question 
#how to capture the first cat but ignore the cat inside catch